<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.MvvmCross.Plugins.Settings" version="5.0.0" targetFramework="xamarinios10" />
  <package id="Acr.Settings" version="5.1.1" targetFramework="xamarinios10" />
  <package id="Autofac" version="3.5.2" targetFramework="xamarinios10" />
  <package id="AWSSDK.CognitoIdentity" version="3.1.1.3" targetFramework="xamarinios10" />
  <package id="AWSSDK.Core" version="3.1.10.0" targetFramework="xamarinios10" />
  <package id="AWSSDK.S3" version="3.1.9.0" targetFramework="xamarinios10" />
  <package id="AWSSDK.SecurityToken" version="3.1.4.5" targetFramework="xamarinios10" />
  <package id="IntercomSDK.iOS" version="3.0.22" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="4.2.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Binding" version="4.2.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Core" version="4.2.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Platform" version="4.2.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.DownloadCache" version="4.2.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.File" version="4.2.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Json" version="4.2.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.PictureChooser" version="4.2.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Visibility" version="4.2.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.StarterPack" version="4.2.3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart.IOS" version="14.2.0.28" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfGauge.IOS" version="14.2.0.28" targetFramework="xamarinios10" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="xamarinios10" />
  <package id="Validation" version="2.0.6.15003" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.20.3" targetFramework="xamarinios10" />
</packages>