<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.MvvmCross.Plugins.Settings" version="5.0.0" targetFramework="monoandroid60" />
  <package id="Acr.Settings" version="5.1.1" targetFramework="monoandroid60" />
  <package id="Autofac" version="3.5.2" targetFramework="monoandroid60" />
  <package id="AWSSDK.CognitoIdentity" version="3.1.1.3" targetFramework="monoandroid60" />
  <package id="AWSSDK.Core" version="3.1.10.0" targetFramework="monoandroid60" />
  <package id="AWSSDK.S3" version="3.1.9.0" targetFramework="monoandroid60" />
  <package id="AWSSDK.SecurityToken" version="3.1.4.5" targetFramework="monoandroid60" />
  <package id="Bolts" version="1.4.0" targetFramework="monoandroid60" />
  <package id="CallygraphyXamarin" version="2.2.0" targetFramework="monoandroid71" />
  <package id="IntercomSDK.Droid" version="3.0.22" targetFramework="monoandroid71" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid60" />
  <package id="MvvmCross" version="4.4.0" targetFramework="MonoAndroid71" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="MonoAndroid71" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="MonoAndroid71" />
  <package id="MvvmCross.Droid.Shared" version="4.2.3" targetFramework="monoandroid51" />
  <package id="MvvmCross.Droid.Support.V4" version="4.2.3" targetFramework="monoandroid51" />
  <package id="MvvmCross.Droid.Support.V7.AppCompat" version="4.2.3" targetFramework="monoandroid51" />
  <package id="MvvmCross.Droid.Support.V7.RecyclerView" version="4.2.3" targetFramework="monoandroid51" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="MonoAndroid71" />
  <package id="MvvmCross.Plugin.DownloadCache" version="4.2.3" targetFramework="monoandroid51" />
  <package id="MvvmCross.Plugin.File" version="4.2.3" targetFramework="monoandroid51" />
  <package id="MvvmCross.Plugin.Json" version="4.2.3" targetFramework="monoandroid51" />
  <package id="MvvmCross.Plugin.PictureChooser" version="4.2.3" targetFramework="monoandroid51" />
  <package id="MvvmCross.Plugin.Visibility" version="4.2.3" targetFramework="monoandroid51" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="monoandroid60" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid51" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="monoandroid51" />
  <package id="Refractored.Controls.CircleImageView" version="1.0.0" targetFramework="monoandroid60" />
  <package id="Refractored.FloatingActionButton" version="1.4.0" targetFramework="monoandroid60" />
  <package id="Square.OkHttp" version="2.4.0.0" targetFramework="monoandroid60" />
  <package id="Square.OkIO" version="1.5.0.0" targetFramework="monoandroid60" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="monoandroid60" />
  <package id="Syncfusion.Xamarin.SfChart.Android" version="14.2.0.28" targetFramework="monoandroid60" />
  <package id="Syncfusion.Xamarin.SfGauge.Android" version="14.2.0.28" targetFramework="monoandroid60" />
  <package id="Validation" version="2.0.6.15003" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.GridLayout" version="23.0.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Ads" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.AppIndexing" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.2" targetFramework="monoandroid60" />
</packages>